/* footer */

.footer-wrapper {
  background: rgb(255, 255, 255);
  padding: 48px 10px 38px;
  font-style: normal;
  max-width: 1400px;
  margin: 0px auto;
}

@media (min-width: 1400px) and (max-width: 1500px) {
  .footer-wrapper {
    padding: 48px 30px 38px;
  }
}

@media (min-width: 1280px) and (max-width: 1400px) {
  .footer-wrapper {
    padding: 48px 25px 38px;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .footer-wrapper {
    padding: 48px 80px 38px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer-wrapper {
    padding: 48px 30px 38px;
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    padding: 38px 5px 38px 25px;
  }
}

.footer-content {
  display: flex;
  flex-flow: row wrap;
}

.footer-left {
  height: 32px;
  width: 230px;
  flex: 1 1 50%;
  background-position: left center;
  position: relative;
  display: inline-block;
  background-image: url('../img/logo_size.jpeg');
  background-repeat: no-repeat;
  background-size: 200px;
}

@media (max-width: 1280px) {
  .footer-left {
    margin-bottom: 35px;
    flex: 1 1 100% !important;
  }
}

.footer-right {
  flex: 1 1 50%;
}

@media (min-width: 992px) and (max-width: 1280px) {
  .footer-right {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .footer-row {
    overflow: hidden;
  }
}

.footer-right .column {
  float: left;
  width: 25%;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .footer-right .column {
    width: 50%;
    padding-bottom: 35px;
  }
}
.footer-right .column span {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 18px;
  padding-top: 5px;
}

.footer-right .column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-right .column li {
  line-height: 35px;
  position: relative;
}

.footer-right .column a {
  font-weight: 500;
  font-size: 14px;
  color: rgb(88, 102, 126);
  text-decoration: none;
  cursor: pointer;
}

.footer-meta {
  justify-content: center;
  align-items: center;
  padding-top: 66px;
  width: 100%;
}

.footer-meta a {
  margin-right: 15px;
}

.footer-meta img {
  width: 200px;
}

@media (min-width: 768px) {
  .footer-meta {
    display: flex;
  }
}

@media (max-width: 768px) {
  .footer-meta {
    padding-top: 50px;
  }
}
