:root {
  --btn-background: rgb(239, 242, 245);
  --color-neutral-1: #f8fafd;
  --color-neutral-2: #eff2f5;
  --color-neutral-3: #cfd6e4;
  --color-neutral-4: #a6b0c3;
  --color-neutral-5: #808a9d;
  --color-neutral-6: #58667e;
  --color-text-1: #222531;
  --color-text-2: rgb(88, 102, 126);
  --up-color: #16c784;
  --down-color: #ea3943;
  --table-background-color: #fff;
  --table-divider-color: #eff2f5;
  --table-row-hover-background-color: #f8fafd;
  --shadow-normal: 0px 1px 2px rgba(128, 138, 157, 0.12),
    0px 8px 32px rgba(128, 138, 157, 0.24);
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'segoe ui', Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

/* General purpose */
.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-green {
  color: var(--up-color);
}

.text-red {
  color: var(--down-color);
}

.loading-wrapper {
  margin-top: 20vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-wrapper {
  width: 100%;
  height: 100vh;
}

.page-wrapper .homepage-separator {
  height: 1px;
  background-color: rgb(239, 242, 245);
}

/* Table part */

.screener-wrapper {
  overflow-y: visible;
  background: linear-gradient(
    rgb(248, 250, 253) 0%,
    rgba(248, 250, 253, 0) 413px
  );
}

@media (min-width: 1376px) {
  .screener {
    max-width: 1402px;
  }
}

.screener {
  box-sizing: border-box;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  border-spacing: 0;
  margin-bottom: 1rem;
  border-collapse: separate;
}

.screener thead th {
  font-weight: 800;
  padding: 0.75rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  background-color: white;
}

/*  sticky third column */

.screener thead th:nth-child(3) {
  padding-left: 1rem;
  position: sticky;
  left: 0;
  z-index: 2;
}

.screener tbody td:nth-child(3) {
  padding-left: 1rem;
  position: sticky;
  left: 0;
  z-index: 1;
}

.screener tbody td {
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
}

.screener tbody tr:hover td {
  background-color: var(--table-row-hover-background-color);
}

/* table body */

.detail-redirect-wrapper {
  text-decoration: none;
  cursor: pointer;
  color: rgb(56, 97, 251);
}

.logo-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-wrapper .crypto-logo {
  height: 26px;
  border-radius: 12px;
  padding-right: 0.4rem;
}

@media screen and (min-width: 768px) {
  .name-content {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }
}

/* Pagination part */

.pagination-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
@media (min-width: 1376px) {
  .pagination-wrapper {
    max-width: 1408px;
  }
}

@media (min-width: 1376px) {
  .pagination-wrapper {
    max-width: 1408px;
  }
}
@media (min-width: 1376px) {
  .pagination-wrapper {
    max-width: 1402px;
  }
}

.show-rows {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.show-rows p {
  color: var(--color-text-2);
  margin: 0 6px 0 0;
}

.show-rows .rows-dropdown {
  box-sizing: border-box;
  margin: 0px;
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background: var(--btn-background);
  border-radius: 8px;
  outline: 0px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 5px 8px;
  font-size: 12px;
  line-height: 22px;
}
.show-rows div svg {
  box-sizing: border-box;
  margin: 0px;
  height: 14px;
  width: 14px;
}

/* Number of rows box tooltip dropdown */

.show-rows-tooltip {
  background-color: #fff !important;
  box-shadow: var(--shadow-normal);
}

.rows-dropdown-content {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.rows-dropdown-content button {
  float: left;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 0px 12px;
  -webkit-box-align: center;
  align-items: center;
  background: transparent;
  border: 0px;
  border-radius: 8px;
  display: inline-flex;
  color: rgb(0, 0, 0);
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0px;
  font-weight: 600;
  width: auto;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
}

.rows-dropdown-content button:hover {
  background-color: rgb(248, 250, 253) !important;
}

/* global market cap data uder navbar */
.screener-wrapper .home-info-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1376px) {
  .screener-wrapper .home-info-wrapper {
    max-width: 1408px;
  }
}

@media (min-width: 1376px) {
  .screener-wrapper .home-info-wrapper {
    max-width: 1408px;
  }
}

@media (min-width: 1376px) {
  .screener-wrapper .home-info-wrapper {
    max-width: 1402px;
  }
}

.home-info-wrapper {
  box-sizing: border-box;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .home-info-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1152px) {
  .home-info-wrapper {
    flex-direction: row;
  }
}

.home-info-wrapper .content-left {
  box-sizing: border-box;
  margin: 0px;
}

@media screen and (min-width: 1152px) {
  .home-info-wrapper .content-left {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1152px) {
  .home-info-wrapper .content-left {
    margin-right: 24px;
  }
}

.home-info-wrapper h1 {
  margin: 8px 0px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: rgb(34, 37, 49);
}

@media screen and (min-width: 768px) {
  .home-info-wrapper h1 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media screen and (min-width: 1152px) {
  .home-info-wrapper h1 {
    font-size: 48px;
    line-height: 66px;
  }
}

@media screen and (min-width: 768px) {
  .home-info-wrapper h1 {
    font-size: 24px;
    line-height: 34px;
  }
}

.home-info-wrapper .info-stats-wrapper {
  box-sizing: border-box;
  margin: 0px 4px 0px 0px;
}
.home-info-wrapper .info-stats-wrapper p {
  display: inline;
  line-height: 1.5;
  margin: 0px;
  color: rgb(88, 102, 126);
  font-size: 14px;
}

.home-info-wrapper .info-marketcap {
  line-height: 1.5;
  margin: 0px;
  color: rgb(88, 102, 126);
  font-weight: 600;
  font-size: 14px;
}

.home-info-wrapper .info-marketcap-change {
  padding: 0;
  border-radius: 8px;
  font-weight: 600;
  white-space: nowrap;
}

.home-info-wrapper .up-trend {
  color: #16c784 !important;
}

.home-info-wrapper .down-trend {
  color: #ea3943 !important;
}
