*,
::before,
::after {
  box-sizing: border-box;
  border-spacing: 0px;
}

.portfolio-page-wrapper {
  background-image: linear-gradient(
    rgb(248, 250, 253) 0%,
    rgba(248, 250, 253, 0) 413px
  );
  padding: 0px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  width: 100%;
}

.portfolio-page-content {
  visibility: visible;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1376px) {
  .portfolio-page-content {
    max-width: 1402px;
    margin: 0px auto;
  }
}

@media (max-width: 1152px) {
  .portfolio-page-content {
    overflow: hidden;
  }
}

/* page's top infos */
.portfolio-top-info {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.portfolio-top-info .info-content {
  box-sizing: border-box;
  margin: 0px;
  flex: 1 1 0%;
}

.portfolio-top-info .info-content div {
  font-weight: bold;
  font-size: 24px;
}

.portfolio-top-info .info-content p {
  line-height: 1.5;
  margin: 8px 0px 0px;
  color: rgb(88, 102, 126);
  font-size: 14px;
}

/* add transaction button */
.transaction-btn {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(56, 97, 251);
  border: 0px;
  border-radius: 8px;
  display: inline-flex;
  color: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0px;
  font-weight: 600;
  width: auto;
  height: 40px;
  font-size: 14px;
  padding: 0px 24px;
  line-height: 24px;
}

/* plus svg inside add transaction btn */
.transaction-btn svg {
  margin-right: 6px;
}

.tracker-wrapper {
  box-sizing: border-box;
  margin: 32px 0px 0px;
  display: flex;
  flex-direction: row;
}

/* User Assets right panel */

.assets-wrapper {
  --colors-neutral2: #eff2f5;
  flex: 1 1 0%;
  border: 1px solid var(--colors-neutral2);
  border-radius: 16px;
}

/* top name ('Your Assets') */
.assets-wrapper .top-name {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.assets-wrapper .top-name p {
  line-height: 1.5;
  margin: 0px;
  padding: 24px 24px 24px 0px;
  color: rgb(34, 37, 49);
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 1152px) {
  .assets-wrapper .top-name p {
    padding-left: 24px;
  }
}
@media screen and (min-width: 768px) {
  .assets-wrapper .top-name p {
    padding-left: 0px;
  }
}

/* assets table */

.assets-wrapper .assets-table {
  margin: auto;
  font-size: 14px;
  width: 100%;
}

.assets-table thead {
  position: relative;
  z-index: 120;
}

.assets-table thead th {
  padding-left: 24px;
  background-color: var(--table-background-color);
  height: 38px;
  border-top: 1px solid var(--table-divider-color);
  padding: 11px 10px;
  z-index: 99;
  font-size: 12px;
  border-bottom: 1px solid var(--table-divider-color);
}

.assets-table .thead-text p {
  white-space: nowrap;
  line-height: 1.5;
  margin: 0px;
  color: rgb(34, 37, 49);
  font-size: 12px;
}

.assets-table tbody {
  cursor: pointer;
}

.assets-table tr:hover {
  background-color: #f8fafd;
}

.assets-table td {
  height: 80px;
  background-color: transparent;
  padding-left: 24px;
  border-bottom: 1px solid var(--table-divider-color);
  padding: 10px;
  font-weight: 500;
  white-space: nowrap;
}

.assets-table a {
  text-decoration: none;
  cursor: pointer;
}

.assets-table .asset-td1 {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.assets-table .coin-logo {
  height: 26px;
  width: 26px;
  border-radius: 12px;
}

.assets-table .coin-infos {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .assets-table .coin-infos {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }
}

.assets-table .coin-name {
  white-space: break-spaces;
  color: rgb(34, 37, 49);
  font-size: 14px;
  margin: 0px 0px 0px 12px;
  line-height: 16px;
}

@media screen and (min-width: 768px) {
  .assets-table .coin-name {
    margin: 0px 0px 0px 5px;
    line-height: 24px;
  }
}

.assets-table .coin-symbol {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.assets-table .coin-symbol p {
  color: rgb(128, 138, 157);
  margin: 0px 0px 0px 6px;
  font-size: 14px;
  line-height: 24px;
}

.assets-table p {
  white-space: break-spaces;
  line-height: 1.5;
  margin: 0px;
  color: rgb(34, 37, 49);
  font-size: 14px;
}

.assets-table .asset-holdings,
.assets-table .asset-profit-loss {
  box-sizing: border-box;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.assets-table .asset-holdings p {
  line-height: 1.5;
  margin: 0px;
  color: rgb(88, 102, 126);
  font-size: 12px;
}

.assets-table .asset-profit-loss span {
  padding: 0px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}

.assets-table .asset-actions div {
  padding-right: 14px;
}
