.navbar-wrapper {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 15px;
  max-width: 1400px;
  margin: 0px auto;
}

.navbar-wrapper a {
  color: rgb(56, 97, 251);
  text-decoration: none;
  cursor: pointer;
}

.logo-wrapper {
  width: 168px;
  height: 28px;

  position: relative;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* navbar center section (links) */

.nav-links-wrapper {
  display: flex;
  flex: 1 1 0%;
  padding-left: 20px;
}

.nav-links-content {
  display: block;
  height: fit-content;
}

.nav-links-content ul {
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
}

.nav-links-content li {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: unset;
  flex-basis: unset;
}

.nav-links-content .link-content {
  padding: 20px 14px;
}

.link-content .link {
  line-height: 1.5;
  margin: 0px;
  color: rgb(34, 37, 49);
  font-weight: 600;
  font-size: 14px;
}

.link-content .link:hover {
  color: rgb(56, 97, 251);
}

.link-content .link span {
  position: relative;
  display: inline;
}

/* right side (signup/login buttons and search box */
.navbar-wrapper .nav-btn {
  height: 36px;
  white-space: nowrap;
}

.navbar-wrapper .login-btn {
  -webkit-box-align: center;
  align-items: center;
  background: transparent;
  border: 1px solid black;
  border-radius: 8px;
  display: inline-flex;
  color: black;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0px;
  font-weight: 600;
  width: auto;
  height: 32px;
  font-size: 12px;
  padding: 0px 16px;
  margin-right: 10px;
  line-height: 18px;
}

.navbar-wrapper .login-btn:hover {
  border: 1px solid rgb(56, 97, 251);
  background: rgb(248, 250, 253);
  color: rgb(56, 97, 251);
  text-decoration: none;
}

.navbar-wrapper .signup-btn {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(56, 97, 251);
  border: 0px;
  border-radius: 8px;
  display: inline-flex;
  color: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  outline: 0px;
  font-weight: 600;
  width: auto;
  height: 32px;
  font-size: 12px;
  padding: 0px 16px;
  line-height: 18px;
}

.navbar-wrapper .signup-btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
    rgb(56, 97, 251);
  color: white;
  text-decoration: none;
}
