:root {
  --color-neutral-1: #f8fafd;
  --color-neutral-2: #eff2f5;
  --color-neutral-3: #cfd6e4;
  --color-neutral-4: #a6b0c3;
  --color-neutral-5: #808a9d;
  --color-neutral-6: #58667e;
  --table-background-color: #fff;
  --table-divider-color: #eff2f5;
  --table-row-hover-background-color: #f8fafd;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'segoe ui', Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px !important;
}

.screener-wrapper {
  background: linear-gradient(
    rgb(248, 250, 253) 0%,
    rgba(248, 250, 253, 0) 413px
  );
}

.table-responsive {
  background-color: var(--table-background-color);
  width: auto;
  margin-left: 10rem;
  margin-right: 10rem;
}

.screener thead {
  font-weight: 800;
}

.screener th {
  border-bottom: none !important;
}

.screener tbody td {
  font-weight: 500;
}

.text-end {
  text-align: end;
}

.screener tbody tr:hover {
  background-color: var(--table-row-hover-background-color);
}
